
.form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('E:/react/new/Software-Archechure-Group-Project-REACT-JS-FRONTEND/public/images/9.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  margin-bottom: 10px;
  width: 500px;
  
}

.form-container form .title {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text{
  padding: 0;
  margin-top: 0;
  color: rgb(153, 150, 150);
}

.form-container form input {
  border: 1px solid #b0aeae;
  border-radius: 5px;
  font-size: 14px;
  color: #ccc;
  padding: 7px;
  margin-top: 20px;
}
.form-container form p{
  text-align: center;
  padding: 5px;
}

.form-container form button{
  align-items: center;
}

.btn-primary {
  border:none;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 0;
  background-color: #3852e6;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn-primary:hover {
  background: #06025c;
  
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 5px 5px;
  margin: 0 15px;
  border-radius: 50%;
  cursor: pointer;
}

.google {
  background-color: #db4437;
  color: white;
}

.facebook {
  background-color: #1877f2;
  color: white;
}

.linkedin {
  background-color: #0077b5;
  color: white;
}
