* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

  .login-page {
    margin-top: 30px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('D:\Applications\react js\new 1\Software-Archechure-Group-Project-REACT-JS-FRONTEND\public\images\9.png');
    background-size: cover;
    background-position: center;
  }
  
  .login-container {
    flex: 1;
    box-sizing: border-box;
    border-right: solid white ;
    border-left: solid white;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #fcfafa;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    color: #f5f0f0;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0670e2;
    color: #fff;
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .login-btn:hover {
    background-color: #02376f;
  }
  
  .error-message {
    color: #dc3545;
    margin-bottom: 15px;
  }
  
  .additional-options {
    margin-top: 20px;
  }
  
  .forgot-password {
    float: left;
    font-size: 14px;
  }
  
  .social-login {
    padding: 5px;
    margin-top: 10px;
  }
  
  .google-login,
  .facebook-login {
    background: none;
    border: none;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .signup-option{
    margin-top: 20px;
    text-align: left;
  }
  
  .google-login svg {
    font-size: 24px;
    color: #ea0707;
  }
  
  .facebook-login svg {
    font-size: 24px;
    color: #0923b7;
  }
  
  .social-login .google-login:hover svg {
    color: #7e2720;
  }
  
  .social-login .facebook-login:hover svg {
    color: #173067;
  }
  